.headerComp {
  background-color: var(--bg-secondary);
}
.logoText {
  color: var(--text-primary);
  font-weight: 700;
}
.headLinks a {
  color: var(--text-primary);
  font-weight: 400;
}
.logo {
  width: 30px;
}
